// ---------- variables ------------------------------------
$max-width: 1440px;
$spacing_desk: 40px;
$spacing_mob: 15px;


$font-title: "SamsungSharpSans";
$font-text: "SamsungOneCyrillic";

$font-title-regular: "SamsungSharpSans-Regular";
$font-title-bold: "SamsungSharpSans-Bold";

$font-text-regular: "SamsungOneCyrillic-400";
$font-text-bold: "SamsungOneCyrillic-700";
$font-text-extra-bold: "SamsungOneCyrillic-800";